@import "./base.css";

main {
  padding-inline: 1.5rem;
  max-width: 737px;
  margin-inline: auto;
  margin-block: 1.5rem;
}

@media (min-width: 1440px) {
  main {
    padding-inline: 0;
  }
}

.sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
}
